#Blok1
{
    width: 100%;
    height: 100vh;
    background-color: #1D1F21;
}

#Blok1-container
{
    width: 65%;
    height: 100%;
    margin: 0 auto;
}

#Blok1-container-spacer1
{
    width: 100%;
    height: 5%;
}

#Blok1-container-spacer2
{
    width: 100%;
    height: 7%;
}

#Blok1-container-spacer3
{
    width: 100%;
    height: 5vh;
}

#css-typing-blok1
{
    width: 100%;
}

#Blok1-container-code
{
    width: 100%;
    height: 20vh;
}

#css-typing-blok1 p
{
    border-right: .12em solid white;
    font-family: "Courier";
    font-size: 28px;
    font-weight: 500;
    color: #2B6AEA;
    margin-top: 2.5%;
}

#css-typing-blok2
{
    width: 100%;
    text-align: center;
}

#css-typing-blok2 p
{
    border-right: .12em solid white;
    font-family: "Courier";
    font-size: 28px;
    font-weight: 500;
    color: #2B6AEA;
    margin-top: 2.5%;
    margin: 0 auto;
}

#css-typing-blok1 p:nth-child(1) 
{
    width: 34em;
    -webkit-animation: type 2s steps(40, end);
    animation: type 2s steps(100, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#css-typing-blok2 p:nth-child(1) 
{
    width: 25em;
    -webkit-animation: type 2s steps(40, end);
    animation: type 2s steps(100, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#css-typing-blok1 p:nth-child(2) 
{
    width: 52em;
    -webkit-animation: type 2s steps(40, end);
    animation: type 2s steps(100, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

#Blok1-container-images
{
    width: 100%;
    height: 20%;
}

#Blok1-container-images img
{
    height: 80%;
    margin-left: 10%;
}

.python
{
    width: 30%;
    float: left;
}

.csharp
{
    width: 36%;
    float: left;
}

.ruby
{
    width: 30%;
    float: left;
}